.board_heading {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
}
.board_heading_text {
  font-family: sans-serif;
  font-size: 24px;
}
.delete_button {
  background-color: red;
  cursor: pointer;
}
.delete_button:hover {
  background-color: #c61414;
}

.main_board_container {
  display: flex;

  width: 200px;
}

.main_board_column_container {
  display: flex;
  flex-wrap: wrap;
}

.main_board_click_container {
  width: 200px;
  height: 200px;
  border: 1px dotted black;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
}

.main_board_column_container {
  height: 200px;
}

.main_board_inner_column_container {
  width: 200px;
  min-height: 200px;
  margin: 5px 10px;
  background-color: #eceff6;
  box-shadow: 0px 0px 4px 4px #d6d9de;
}

.main_board_content_container {
  display: flex;
  flex-wrap: wrap;
}
.main_board_heading_container {
  display: flex;
  justify-content: space-between;
}

.main_board_headline_of_card {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.main_board_headline_of_card_text {
  background-color: #d2d3d5;
  flex: auto;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.main_board_headline_of_card_text:hover {
  background-color: #a2a6b0;
}
