.login_inner_container {
  display: flex;
  justify-content: space-between;
  background-color: #3270ec;
  height: 80px;
  align-items: center;
}

.proOrganizer {
  font-size: 27px;
  font-weight: bold;
}

.login_page {
  margin: 10px;
}

#LoginInEmail,
#LoginPassword {
  width: 250px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #3270ec;
}

#login_value_input {
  height: 28px;
  width: 80px;
  border-radius: 2px;
  border: 1px solid #3270ec;
}

@media screen and (max-width: 480px) {
  .login_inner_container {
    background-color: #3270ec;
    height: 100px;
  }

  .proOrganizer {
    font-size: 27px;
    font-weight: bold;
  }

  .login_page {
    margin: 10px;
  }

  #LoginInEmail,
  #LoginPassword {
    width: 250px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #3270ec;
  }

  #login_value_input {
    height: 28px;
    width: 80px;
    border-radius: 2px;
    border: 1px solid #3270ec;
    margin-left: 5px;
  }
}

.sign_in_container {
  display: flex;
  justify-content: space-between;
}

.sign_in_container_inner {
  margin-right: 80px;
  margin-top: 50px;
  width: 400px;
  height: 330px;
  box-shadow: 0px 0px 2px 4px #3270ec;
  background-color: #3270ec;
  border-radius: 3px;
}

.sign_in_container_inner_text {
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 27px;
}

#signInName,
#signInEmail,
#signInPassword {
  width: 340px;
  height: 30px;
  margin-left: 25px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #3270ec;
}

.label {
  margin-left: 25px;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  line-height: 40px;
}

#inputValueSignIn {
  margin-top: 30px;
  height: 35px;
  width: 350px;
  margin-left: 25px;
}

@media screen and (max-width: 580px) {
  .sign_in_container {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .sign_in_container_inner {
    margin-right: 80px;
    margin-top: 50px;
    width: 300px;
    height: 280px;
    box-shadow: 0px 0px 2px 4px #3270ec;
    background-color: #3270ec;
    border-radius: 3px;
    margin: 50px auto;
  }

  .sign_in_container_inner_text {
    width: 300px;
    margin-top: 0px;
    margin-left: 50px;
    font-size: 18px;
    margin: 0px auto;
  }

  #signInName,
  #signInEmail,
  #signInPassword {
    width: 250px;
    height: 25px;
    margin-left: 25px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #3270ec;
  }

  .label {
    margin-left: 25px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    line-height: 40px;
  }

  #inputValueSignIn {
    margin-top: 30px;
    height: 25px;
    width: 250px;
    margin-left: 25px;
  }
}
